@media screen and (min-width: 300px) {
    #padreTateti {
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        justify-content: center;
        align-items: center;
        padding: 30px;
    }
    .tatetiHijo {
        @include sizes (100px, 100px);
        @include flexCenCen;
        border: solid 3px white;
    }
    #jugadores {
        @include flexCenCen;
        gap: 10px;
    }
    #turno {
        @include flexCenCen;
    }
    .cajaJugador {
        border: solid 2px white;
        padding: 5px;
        gap: 20px;
    }
    #puntaje1,
    #puntaje2 {
        font-size: 1.5rem;
        color: white;
    }
    .cajaJugadores {
        @include flexColCenCen;
        width: 300px;
        gap: 20px;
    }
    .cajaSimbolos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .simbolos {
        @include sizes (90px, 90px)
    }
}

@media screen and (min-width: 700px) {

}

@media screen and (min-width: 1024px) {

}

